@media (max-width: 768px) {
  body {
    background-image: none;
  }

  .header {
    justify-content: center;
  }

  .about {
    align-items: flex-start;
  }

  .image-logo {
    width: 250px;
    margin-bottom: 30px;
  }

  .school-presentation {
    width: 100vw;
    padding: 0 30px;
  }

  .school-presentation h1 {
    font-size: 26px;
  }

  .school-presentation .description {
    margin-bottom: 30px;
  }

  .button-container {
    width: 100vw;
    padding: 10px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }

  .btn-box {
    width: 100%;
  }

  .faq-box {
    width: 90vw;
  }

  .container-form {
    width: 90vw;
  }
}

@media (max-width: 425px) {
  .button-container .button-level,
  .button-container .button-profile {
    width: 100%;
  }

  .contact {
    padding: 0 10px;
  }

  .container-form {
    flex-wrap: wrap;
  }
}

@media (max-width: 375px) {
  .button-container .button-level,
  .button-container .button-profile {
    width: 320px;
  }

  .question{
    width: 90%;
    font-size: 14px;
  }
  .answers {
    width: 90%;
    font-size: 12px;
  }
}

@media (max-width: 320px) {
  .button-container .button-level,
  .button-container .button-profile {
    width: 260px;
  }
}
